/*!
Theme Name: Archer Wire
Theme URI: http://underscores.me/
Author: Jeff McNear
Author URI: http://plasterdog.com
Description: underscores based theme
Version: 1.3.5
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: capron
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
*/
/*-- same as body text color --*/
/* RGB= 70 | 73 | 76 */
/*rgb = 220 | 220 | 221 */
html {
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*--------------------------------------------------------------# Typography--------------------------------------------------------------*/
body, button, input, select, optgroup, textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch",Courier,monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------# Elements--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em .5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------# Forms--------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa; }

button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"],
input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus,
input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------# Navigation--------------------------------------------------------------*/
/*--------------------------------------------------------------## Links--------------------------------------------------------------*/
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, a:focus, a:active {
  color: midnightblue; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

/*--------------------------------------------------------------## Menus--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main.posts-navigation, .site-main.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------# Accessibility--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------# Alignments--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------# Clearings--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before,
.site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------# Widgets--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }

.widget select {
  max-width: 100%; }

/*--------------------------------------------------------------# Content--------------------------------------------------------------*/
/*--------------------------------------------------------------## Posts and pages--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------## Comments--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------# Infinite scroll--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------# Media--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------## Captions--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------CUSTOM STYLING ---------------------------------------*/
.left-side {
  float: left;
  width: 48%; }

.left-side h2, .right-side h2, .lower-right-container h2, .lower-center-container h2, .lower-left-container h2 {
  color: #007AC2; }

.right-side {
  float: right;
  width: 48%; }

/*-----------------------------THE LANDING PAGE -----------------------------------*/
.constrained-section {
  max-width: 1000px;
  padding-top: 2em;
  margin: 0 auto; }

/*----  CALL TO ACTION ----*/
.call-to-action-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 40px;
  color: #ffffff;
  font-size: 1.25em;
  text-transform: uppercase; }

.call-to-action-container .right-side {
  text-align: right;
  font-size: .9em; }

.call-to-action-container .left-side a {
  color: #ffffff; }

.call-to-action-container .right-side a {
  color: #ffffff;
  text-align: right;
  padding: 1em;
  border: solid 1px #ffffff;
  font-size: .65em; }

.call-to-action-container .right-side a:hover {
  background-color: #ffffff;
  color: #007AC2;
  text-decoration: none; }

/*--- FOUR LANDING SECTIONS ---*/
.home .four-landing-sections-container {
  max-width: none; }

.home .four-landing-sections .landing-quarter {
  width: 25%;
  margin: 0;
  background-color: #007AC2;
  padding: 0;
  border: none; }

.home .four-landing-sections {
  background-color: #007AC2;
  padding: 0 0 .75em 0;
  background-image: none; }

.home .landing-quarter-caption {
  top: 45%;
  margin-left: 10%; }

.home .four-landing-sections.bluecall {
  background-color: #007AC2;
  padding-top: 1em;
  background-image: none; }

.home .landing-quarter img:hover {
  -webkit-filter: saturate(0);
  filter: saturate(0);
  opacity: .5; }

.four-landing-sections {
  background-color: #dcdcdd;
  padding: 1em 0 .75em 0;
  background-image: url("./images/line.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 5px; }

.four-landing-sections.bluecall {
  background-color: #007AC2;
  padding-top: 1.5em;
  background-image: none; }

.four-landing-sections-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 75px; }

.four-landing-sections .landing-quarter {
  float: left;
  width: calc(25% - 4em);
  position: relative;
  margin: 0 2em;
  background-color: #ffffff;
  padding: .75em;
  border: solid 1px #46494C; }

.four-landing-sections .landing-quarter img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(70, 73, 76, 0.5);
  box-shadow: 3px 3px 3px 3px rgba(70, 73, 76, 0.5); }

.landing-quarter-caption {
  position: absolute;
  top: 40%;
  text-align: center;
  background: #007AC2;
  background-color: rgba(0, 122, 194, 0.75);
  color: rgba(0, 122, 194, 0.75);
  width: 80%;
  margin: 0 5%;
  padding: .5em 0;
  color: #ffffff;
  font-weight: bold;
  margin-left: 4%; }

.landing-quarter-caption a {
  color: #ffffff; }

.landing-quarter img:hover {
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5); }

.landing-quarter:hover > .landing-quarter-caption, .landing-quarter:hover > .landing-quarter-caption {
  color: transparent !important; }

.landing-quarter:hover > .landing-quarter-caption {
  height: 2.5em; }

.landing-quarter:hover > .landing-quarter-caption:before {
  content: "Learn More!";
  color: #282828;
  font-size: 1em;
  display: block;
  color: #ffffff; }

ul.icon-section-display {
  margin: 0 10%;
  padding: 1em 0;
  text-align: center; }

h2.icon-section-display {
  font-size: .9em;
  text-transform: uppercase;
  padding-top: 1.25em;
  color: #46494C;
  letter-spacing: -0.05;
  line-height: 1.75em; }

.icon-section-display li {
  list-style: none;
  display: inline-block;
  width: 29%;
  padding-bottom: 2em;
  margin: 0 2%;
  vertical-align: text-top; }

.icon-section-display li .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.25em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #007AC2; }

.icon-section-display li a:hover {
  text-decoration: none; }

.icon-section-display li a:hover > .fa {
  color: #282828;
  text-decoration: none; }

.icon-section-display li a:hover > h2 {
  color: #007AC2; }

.lower-left-center-container {
  float: left;
  width: calc(100% - 250px); }

.lower-left-container {
  float: left;
  width: 48%; }

.lower-left-container img, .lower-left-section img {
  -webkit-box-shadow: 3px 3px 3px 3px rgba(70, 73, 76, 0.5);
  box-shadow: 3px 3px 3px 3px rgba(70, 73, 76, 0.5); }

.lower-center-container {
  float: right;
  width: 48%; }

.lower-right-container {
  float: right;
  width: 225px;
  padding-left: 10px;
  border-left: solid 1px #46494C; }

.lower-left-section {
  float: left;
  width: 38%; }

.lower-center-right-combo-container {
  float: right;
  width: 60%; }

.lower-center-section {
  float: left;
  width: calc(100% - 250px); }

.lower-right-section {
  float: right;
  width: 225px;
  padding-left: 10px;
  border-left: solid 1px #46494C; }

.standard-top {
  background-color: #007AC2; }

@media screen and (max-width: 1250px) {
  .four-landing-sections {
    background-color: #dcdcdd;
    padding: 1em 0 .75em 0;
    background-image: url("./images/line.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 5px; } }
@media screen and (max-width: 1000px) {
  .lower-left-section {
    float: left;
    width: 25%;
    margin: 0; }

  .lower-center-right-combo-container {
    float: right;
    width: 73%; }

  .four-landing-sections {
    background-image: none; }

  .home .four-landing-sections .landing-quarter, .four-landing-sections .landing-quarter {
    float: left;
    width: calc(50% - 1em);
    position: relative;
    margin: 0 .5em; }

  .four-landing-sections .landing-quarter {
    padding-bottom: .75em; }

  .four-landing-sections-container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-height: 75px; }

  .four-landing-sections {
    padding: 1em 0 0 0; }

  .lower-left-container {
    float: left;
    width: 100%; }

  .lower-center-container {
    float: left;
    width: 98%;
    border-top: solid 2px #007AC2; }

  .right-side {
    float: right;
    width: 98%;
    padding: 0 2% 2em 0; }

  .left-side {
    float: left;
    width: 98%;
    padding: 0 0 2em 2%; } }
@media screen and (max-width: 799px) {
  .icon-section-display li {
    list-style: none;
    display: inline-block;
    width: 48%;
    padding-bottom: 2em;
    margin: 0 auto; }

  .lower-left-center-container {
    float: left;
    width: 100%; }

  .lower-right-container {
    float: left;
    width: 100%;
    border-top: solid 2px #007AC2;
    padding-top: 2em;
    padding: 0;
    border: none; }

  .left-side {
    float: left;
    width: 100%; }

  .right-side {
    float: left;
    width: 100%; }

  .lower-center-section {
    float: left;
    width: 100%; }

  .lower-right-section {
    float: left;
    width: 100%;
    padding-left: 0;
    border-left: none 0px transparent; }

  .lower-left-section {
    float: left;
    width: 62%;
    margin: 0 38% 0 0; }

  .lower-center-right-combo-container {
    float: left;
    width: 100%; } }
@media screen and (max-width: 500px) {
  .home .four-landing-sections .landing-quarter, .four-landing-sections .landing-quarter {
    float: left;
    width: calc(100% - 1em);
    position: relative;
    margin: 0 .5em; }

  .icon-section-display li {
    list-style: none;
    display: inline-block;
    width: 98%;
    padding-bottom: 2em;
    margin: 0 auto; } }
/*---------------------------# Navigation--------------------------------------------------------------*/
/*-----------------------------## Links--------------------------------------------------------------*/
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, a:focus, a:active {
  color: midnightblue; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

/*--------------------------------------------------------------MAIN MENU ---------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: normal; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%; }

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*-----------------------------# Accessibility--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*------------------------------------# Alignments--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*-----------------------------# Clearings--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*----------------------# Widgets--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%; }

/*-------------------------------# Content--------------------------------------------------------------*/
.home #positioned-content, .standard-top {
  padding-top: 7.75em !important; }

#positioned-content, .standard-top {
  padding-top: 9.5em !important; }

.standard-top {
  margin-top: 1em; }

/*-----------------------------## Posts and pages--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline, .updated:not(.published) {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-header {
  position: relative; }

h1.page-entry-title {
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  padding: 1em 0;
  font-size: 4em;
  position: relative;
  top: -350px;
  margin-bottom: -175px; }

/*-------------------------## Comments--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*-------------------------# Infinite scroll--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------# Media--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

/*----------------------------## Captions--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*-----------------------------## Galleries--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 32.33%;
  margin-right: 1%; }

.gallery-columns-4 .gallery-item {
  max-width: 24%;
  margin-right: 1%; }

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  margin-right: 1%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*---------------------------------------------------------------General purpose -------------------------------------------------*/
.clear {
  clear: both; }

.twentybump {
  padding-top: 20px; }

/*---------------------SPECIAL CONTENT REGIONS --------------------------------------------------------------*/
/*---- ARCHIVE ARRAYS ---*/
.archive-thumb {
  float: left;
  width: 20%;
  margin-top: 0; }

.archive-thumb img {
  width: 100%;
  height: auto;
  margin-top: .25em; }

.archive-excerpt {
  float: right;
  width: 77%;
  margin-top: .0; }

.archive-excerpt p {
  margin: 0; }

.entry-meta {
  color: #bfbfbf;
  line-height: .95em;
  margin: -.25em 0 .25em 0;
  font-size: .75em; }

.full-width-excerpt p {
  margin: 0; }

h1.archive-title, .archive-excerpt h1, .full-width-excerpt h1 {
  margin: 0 0 .5em 0;
  color: #190a16;
  font-weight: normal;
  padding-top: 0;
  font-size: 1.5em; }

.achive-link {
  display: inline; }

/*--- SEARCH RELATED--*/
.search-array li {
  float: left;
  width: 23%;
  list-style: none;
  margin: 0 1%;
  min-height: 250px;
  text-align: center; }

.search-array li h2 {
  font-size: 1em; }

/* -----------------------------TYPOGRAPHY OVER-RIDES ----------------------------------------------------*/
.site-main aside {
  padding: 1em;
  margin: 1em;
  border: 1px solid; }

h1 {
  font-size: 1.5em;
  color: #007AC2;
  line-height: 1em;
  margin: 0 0 .5em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

h2 {
  font-size: 1.25em;
  color: #46494C;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

h3 {
  font-size: 1.2em;
  color: #46494C;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

.job-template-default h3 {
  font-size: 1.2em;
  color: #007AC2;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

.job-template-default h4 {
  font-size: 1em;
  color: #007AC2;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

h4 {
  font-size: 1.2em;
  color: #46494C;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

h5 {
  font-size: 1.05em;
  color: #46494C;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: bold; }

h6 {
  font-size: 1.05em;
  color: #46494C;
  line-height: 1em;
  margin: 0 0 .75em 0;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  letter-spacing: .05em;
  font-weight: normal;
  font-style: italic; }

p {
  margin-bottom: 1.5em;
  margin-top: -.5em;
  /*text-align: justify;*/ }

.page-template-page-landing h1.entry-title {
  padding-top: 1em; }

h1.entry-title {
  margin: .5em 0;
  color: #007AC2;
  padding-bottom: .5em;
  font-size: 1.5em;
  /*letter-spacing:.1em; */ }

.job-template-default h1.entry-title {
  margin: .5em 0 0 0;
  color: #007AC2;
  padding-bottom: 0;
  font-size: 1.5em;
  /*letter-spacing:.1em; */ }

h1 + h2 {
  margin-top: -.25em; }

h1.entry-title .sub-entry-title {
  color: #282828; }

h1.entry-title .sub-entry-title:before {
  content: "|";
  color: #282828;
  padding: 0 .25em; }

.page-content, .entry-content, .entry-summary {
  margin: 0; }

p.site-description {
  margin: 0 0 1em 0;
  color: #282828; }

h1.site-title {
  margin: 1em 0 0 0; }

h1.site-title a {
  color: #007AC2;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .1em;
  font-weight: 400; }

h2.entry-title {
  margin: .25em 0 .75em 0; }

/*--------------------- ICON PAGE & POST HEADER STYLES ------------------------------------------*/
.icon-title-section {
  clear: both; }

.icon-content-section {
  clear: both;
  padding-top: 1.5em; }

.icon-section-title h1 {
  line-height: 1.25em;
  margin: 0;
  padding: 0; }

.icon-section-image {
  padding: 1.25em;
  -webkit-border-radius: 50% 50% 505 50%;
  border-radius: 50% 50% 50% 50%;
  width: 125px;
  height: 125px;
  float: left; }

.icon-section-image img {
  width: 100%;
  height: auto; }

.icon-section-title {
  float: right;
  width: calc(100% - 150px); }

ul.sections {
  list-style: none;
  margin: 0;
  padding: 0; }

/*-------------------------------------Links--------------------------------------------------------------*/
a {
  color: #007AC2;
  text-decoration: none; }

a:visited {
  color: #007AC2; }

a:hover, a:focus, a:active {
  color: #46494C; }

a:hover {
  text-decoration: underline; }

a:focus {
  outline: 0; }

a:hover, a:active {
  outline: 0; }

/*--------------------------------HEADER REGION---------------------------------------------------------*/
#masthead {
  width: 100%;
  margin: 0 auto;
  top: 0;
  background: #ffffff;
  filter: none !important;
  border-bottom: 1px solid #282828;
  position: fixed;
  z-index: 9999;
  top: 0;
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.4); }

.logged-in #masthead {
  top: 1.75em; }

.masthead-logo {
  float: left;
  width: 20%;
  text-align: left; }

.masthead-nav {
  float: right;
  width: 100%;
  margin-top: 0;
  background-color: #ffffff; }

.header-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.masthead-nav-logo {
  float: left;
  width: 240px;
  text-align: left;
  padding: .25em 0; }

.special-interest {
  background-color: #007AC2;
  font-size: .85em; }

.special-interest, .special-interest a {
  color: #ffffff;
  padding-right: 1.5em; }

.special-interest {
  padding-bottom: .5em; }

.special-interest:hover, .special-interest a:hover {
  color: #dcdcdd; }

.special-interest ul {
  list-style: none;
  margin-right: 2em; }

.special-interest li {
  float: left;
  padding: 0 1em; }

.special-interest li:after {
  content: "|"; }

.special-interest li:last-of-type:after {
  content: " "; }

.masthead-nav-links {
  float: right;
  width: calc(100% - 275px); }

.top-masthead-holder {
  width: 100%;
  top: 0;
  background-color: transparent;
  text-align: left;
  border-bottom: none;
  min-height: 3em;
  position: relative; }

.top-logo-side {
  float: left;
  width: 250px; }

.top-logo-side h1 a {
  color: #007AC2; }

.top-logo-side h1 {
  display: inline;
  /* vertical-align: 75%; */
  margin-left: 0; }

.top-contact-side {
  width: calc(100% - 250px);
  color: #007AC2;
  top: 0;
  right: 0;
  /*max-width: 1100px;*/
  margin: 0 auto;
  float: right;
  padding-top: 3em; }

ul.top-social-icons {
  padding: .5em 0 0 0;
  margin: 0;
  float: right;
  margin-top: 0;
  clear: both; }

ul.second-top-social-icons {
  padding: 0 0 .5em 0;
  margin: 0;
  float: right;
  clear: both; }

.top-contact-side .top-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.5em; }

.top-contact-side .second-top-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.25em; }

.top-contact-side .social {
  float: right;
  text-align: right;
  width: 100%; }

.top-contact-side .social a {
  color: #007AC2; }

.top-contact-side .social a:hover {
  color: #46494C; }

.top-contact-side .icon-text {
  font-size: .75em;
  /*-- could define break from header --*/
  filter: none !important;
  /*--- this is an IE8 workaround ---*/ }

.top-phone {
  text-align: right; }

.headerlink {
  float: right; }

.top-contact-side .social .headerlink h3 {
  color: #ffffff;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  border: none;
  background-color: #007AC2;
  display: inline;
  padding: .5em 0;
  float: right;
  margin: 1em 0 0 0;
  width: 180px;
  text-align: center;
  font-size: 1em; }

.top-contact-side .social .headerlink h3 a {
  color: #ffffff; }

.top-search {
  clear: both;
  padding: 1em 0 0 0; }

.top-search input[type="search"] {
  text-align: center;
  width: 150px; }

.masthead-holder {
  width: 100%;
  margin: 0 auto;
  top: 0;
  text-align: center;
  border-bottom: none;
  filter: none !important; }

.masthead-holder {
  padding: 0; }

.masthead-holder {
  padding: 0; }

.company-slogan {
  width: 100%;
  max-width: 1100px;
  text-align: left;
  margin: 0 auto;
  clear: both;
  padding: 1em 0; }

.site-branding {
  width: 100%;
  /*max-width: 1300px; */
  margin: 0 auto;
  padding: 0 2em;
  position: relative;
  min-height: 75px; }

.site-branding img {
  padding-top: .5em; }

/*---------------------------------Navigation--------------------------------------------------------------*/
ul.social-icons {
  padding: 0;
  margin: 0; }

ul.social-icons > li {
  display: inline-block;
  list-style: none;
  margin: .5em 1em;
  font-size: 2em; }

/*---------------------DEFAULT DISPLAY OF MAIN MENU | CANNOT GO MOBILE FIRST BECAUSE OF IE8 -------------------------*/
/*--------------------------------------------------------------MAIN MENU REGION -------------------------------------------------------*/
/*--- hides the responsive menu ---*/
.menu-toggle {
  display: none; }

.main-navigation ul {
  /*display: block;*/
  float: right; }

/*--- MAIN & FIRST LEVEL CONTROLS ---*/
.main-navigation {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  /*height:2em; */
  /*background-color:$turquoiseColor;*/
  background: #ffffff;
  margin-top: 0;
  border-bottom: solid #ffffff 1px;
  border-top: solid #ffffff 1px; }

.main-navigation ul {
  list-style: none;
  text-align: center;
  /*text-align determines menu position */
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  margin-bottom: -.25em; }

.main-navigation li {
  position: relative;
  margin-right: .5em;
  font-size: .85em;
  display: inline-block;
  float: none;
  /* need to neutralize float explicitly */
  padding: .5em;
  background: transparent;
  color: #46494C;
  /*-webkit-border-radius: 10px 10px 0 0;border-radius: 10px 10px 0 0;*/
  /*border:solid 1px $blackColor;border-bottom:none;*/ }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: .85em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em; }

.main-navigation li:hover {
  background: transparent;
  text-decoration: underline; }

.main-navigation li:hover a {
  color: #007AC2;
  text-decoration: underline; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #46494C;
  text-transform: uppercase;
  font-size: 1em;
  /*letter-spacing:.05em; */ }

.main-navigation a:hover {
  color: #ffffff; }

.main-navigation li.current-menu-item a, .main-navigation li.current_page_item a {
  color: #007AC2; }

.main-navigation li.current_page_item {
  color: #007AC2; }

.main-navigation .current-menu-item {
  color: #007AC2; }

.main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a,
.main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item {
  background-color: #dcdcdd;
  color: #007AC2;
  text-decoration: none; }

/*--- SECOND LEVEL CONTROLS ---*/
.main-navigation ul ul li:last-child {
  position: relative;
  margin-right: 0;
  font-size: .85em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em 0; }

.main-navigation ul ul {
  margin-left: 1.5em;
  display: block;
  float: left;
  position: absolute;
  top: 4.25em;
  left: 0;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: #46494C; }

.main-navigation ul ul li {
  background: #46494C;
  -webkit-border-radius: 0;
  border-radius: 0; }

.main-navigation ul ul li:last-child {
  position: relative;
  margin-right: 0;
  font-size: .85em;
  margin-bottom: .25em;
  margin-left: 0;
  display: inline-block;
  padding: .5em; }

.main-navigation ul ul li a {
  color: #ffffff; }

.main-navigation ul ul li a:hover, .main-navigation ul ul li:hover {
  text-decoration: underline;
  background: #46494C none repeat scroll 0% 0%;
  color: #ffffff !important;
  padding-left: 1em; }

.main-navigation li.current-menu-item a li, .main-navigation li.current_page_item a li {
  background: #dcdcdd;
  color: #ffffff; }

.main-navigation ul ul li.current-menu-item a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item,
.main-navigation ul ul li.current_page_item {
  background: #46494C none repeat scroll 0% 0%;
  color: #ffffff; }

.main-navigation li.current-menu-item li a, .main-navigation li.current_page_item li a {
  background: #46494C; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 300px; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 350px;
  overflow: hidden;
  left: 0; }

.main-navigation ul li:hover > ul li a {
  text-decoration: none; }

.main-navigation ul li:last-child:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 300px;
  overflow: visible;
  left: -200px;
  text-align: right;
  padding-right: 1.5em; }

/*--- controls the dropdown colors ---*/
.main-navigation ul li:hover > ul a {
  color: #ffffff; }

.main-navigation ul li:hover > ul li {
  background-color: #46494C; }

.main-navigation ul li.current-menu-item ul li a {
  background: #ffffff;
  color: #007AC2; }

.main-navigation ul ul li.current_page_item {
  background: #46494C;
  color: #ffffff; }

/*--- SECONDARY NAVGATION ---*/
#secondary-navigation {
  clear: both;
  border-top: solid 1px #007AC2; }

ul#secondary-menu {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em; }

#secondary-navigation a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #46494C;
  text-transform: uppercase; }

#secondary-navigation a:hover, #secondary-navigation li.current_page_item a {
  color: #007AC2;
  text-decoration: underline; }

ul#secondary-menu li {
  float: left;
  font-size: .85em;
  padding: .5em;
  background: transparent; }

ul#secondary-menu ul.sub-menu li {
  visibility: collapse;
  width: 0;
  height: 0; }

@media screen and (max-width: 950px) {
  ul#secondary-menu li {
    font-size: .7em; }

  .main-navigation li, .main-navigation li:last-child {
    font-size: .75em; } }
@media screen and (max-width: 900px) {
  .top-logo-side {
    float: left;
    width: 200px; }

  .top-contact-side {
    width: calc(100% - 200px);
    color: #007AC2;
    top: 0;
    right: 0;
    /*max-width: 1100px;*/
    margin: 0 auto;
    float: right;
    padding-top: 3em; } }
@media screen and (max-width: 800px) {
  ul#secondary-menu li {
    float: right; }

  .home #positioned-content, .standard-top {
    padding-top: 2em !important; } }
/*------------------------------WIDGETS & SIDEBARS--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets. */
.widget select {
  max-width: 100%; }

#secondary {
  padding: 0; }

#secondary ul {
  margin: 0;
  padding: 0 1em; }

.site-content .widget-area {
  float: left;
  overflow: hidden;
  width: 30%; }

#secondary .widget {
  margin: 0 0 1em 0; }

#secondary .textwidget, #secondary .search-form, #secondary .menu {
  padding: 1em 1em 1em 0;
  background: #ffffff; }

/*--- SIDEBAR TYPOGRAPHY --*/
#secondary h2 {
  font-size: 1.25em;
  font-weight: bold;
  font-family: "Lato", Helvetica, Tahoma, Verdana, Arial;
  padding: .5em 0;
  margin: 0; }

#secondary ul {
  list-style: none;
  padding: 0; }

#secondary .widget_nav_menu {
  font-size: 1em; }

#secondary .widget_nav_menu a {
  text-decoration: none; }

#secondary .widget_nav_menu a:hover {
  color: #46494C;
  text-decoration: underline; }

#secondary li {
  line-height: 1em;
  margin-bottom: 1em;
  text-align: left; }

/*-------------------------------STANDARD MAIN CONTENT REGION --------------------------------------------------*/
#page {
  /*padding-bottom:8em;*/
  position: realtive; }

/*-- makes room for footer in scroll --*/
#content {
  width: 100%;
  max-width: 1100px;
  margin: 0em auto;
  padding: 0 1em;
  color: #282828;
  min-height: 350px; }

.content-area {
  float: left;
  margin: 0 -25% 0 0;
  width: 100%; }

.site-main {
  margin: 0 28% 0 0;
  background-color: #ffffff;
  padding: 1em;
  min-height: 500px; }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 25%; }

#content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em; }

.site-branding .houzz img {
  float: right;
  text-align: center;
  padding-right: 2.5em;
  padding-top: 0; }

#content {
  min-height: 65vh;
  margin: 0 auto 2em auto; }

.entry-content li {
  margin-bottom: .5em; }

#content {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto 1em auto; }

/*---for full width configurations -- eliminated top padding and magins to tighten things up ---*/
.full-content-area {
  float: none;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  background-color: transparent;
  padding: 0 1em; }

.full-site-main {
  margin: 0 auto;
  padding-top: 0; }

/*------------------------------- THE FOOTER REGION ---------------------------------------------------------*/
.centering-foot {
  clear: both;
  text-align: center; }

.left-foot {
  float: left;
  width: 49%;
  font-size: 1.25em;
  letter-spacing: .05em; }

.right-foot {
  float: right;
  width: 49%;
  text-align: right;
  font-size: 1.1em;
  letter-spacing: .05em; }

.foot-social-icons li {
  display: inline;
  padding: 0 .5em;
  font-size: 1.5em; }

.footer-menu a {
  color: #ffffff; }

.footer-menu li {
  display: inline;
  margin: 0; }

.footer-menu li:after {
  content: "|";
  color: #ffffff;
  padding: 0 .5em; }

.footer-menu li:last-of-type:after {
  content: "";
  color: #ffffff;
  padding: 0; }

.footer-menu ul {
  margin: 0;
  padding: 0; }

.special-footer-message {
  text-align: left;
  padding: 0 1em; }

.special-footer-message h3 {
  font-size: 1.5em !important;
  font-weight: normal !important;
  margin-bottom: 1em !important; }

.site-footer {
  clear: both;
  width: 100%;
  background: #46494C;
  color: #ffffff;
  /*position:fixed; */
  bottom: 0;
  z-index: 999;
  border-top: none;
  border-top: solid #46494C 1px;
  border-bottom: solid #46494C 1px; }

.site-info {
  text-align: left;
  font-size: .75em; }

.site-info a:hover {
  text-decoration: underline; }

.site-info {
  width: 100%;
  max-width: 1400px;
  margin: 0em auto;
  padding: 1em 0;
  text-align: left; }

.footer-copyright {
  float: left;
  width: 20%; }

.footer-copyright h1 a {
  color: #ffffff; }

.footer-copyright h1 {
  display: inline;
  vertical-align: 75%;
  margin-left: .5em; }

.logo-left-foot {
  float: left;
  width: 100px; }

.left-foot-contact {
  float: right;
  width: calc(100% - 110px); }

ul.foot-social-icons {
  padding: .5em 0 0 0;
  margin: 0;
  /*float: right; */
  margin-top: 0;
  clear: both; }

ul.foot-social-icons a {
  color: #ffffff; }

ul.foot-social-icons a:hover {
  color: #46494C; }

.right-foot .foot-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.5em; }

.right-foot .social {
  float: right;
  text-align: right;
  width: 100%; }

.right-foot .social a {
  color: #ffffff; }

.right-foot .social a:hover {
  color: #282828; }

.right-foot .icon-text, .left-foot .icon-text {
  font-size: .75em;
  /*-- could define break from header --*/
  filter: none !important;
  /*--- this is an IE8 workaround ---*/ }

ul.second-foot-social-icons {
  padding: 0 0 .5em 0;
  margin: 0;
  float: right;
  clear: both; }

.top-contact-side .second-foot-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.25em; }

/*------------------------------ RESPONSIVE STYLING BY SECTION---------------------*/
/*------------------------------ HEADER ---------------------------*/
@media screen and (max-width: 799px) {
  h1.page-entry-title {
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    padding: 1em 0;
    font-size: 3em;
    position: relative;
    top: -200px;
    margin-bottom: -100px; } }
@media screen and (max-width: 599px) {
  h1.page-entry-title {
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    padding: 1em 0;
    font-size: 2em;
    position: relative;
    top: -200px;
    margin-bottom: -80px; } }
@media screen and (max-width: 399px) {
  h1.page-entry-title {
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    padding: 1em 0;
    font-size: 2em;
    position: relative;
    top: -100px;
    margin-bottom: -60px; } }
@media screen and (max-width: 299px) {
  h1.page-entry-title {
    visibility: collapse;
    top: 0;
    padding: 0; } }
@media screen and (max-width: 1200px) {
  .site-branding {
    width: 100%;
    max-width: 1100px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1100px) {
  .site-branding {
    width: 100%;
    max-width: 1000px;
    margin: 0em auto;
    padding: 1em 0; }

  .masthead-nav {
    float: right;
    width: 100%;
    margin-top: 0; }

  .top-masthead-holder .top-logo-side {
    float: left;
    width: 100%;
    text-align: left; }

  .top-masthead-holder .top-logo-side img {
    width: 40%;
    height: auto;
    margin: 0 auto; }

  .top-masthead-holder .top-contact-side {
    float: left;
    width: 100%;
    margin-top: 1.1em; }

  .top-masthead-holder ul.top-social-icons {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 0; }

  ul.second-top-social-icons {
    padding: 0;
    margin: 0;
    float: left !important;
    clear: both; }

  .top-masthead-holder .top-contact-side {
    float: left;
    width: 100%;
    margin-top: 0; } }
@media screen and (max-width: 1000px) {
  .site-branding {
    width: 95%;
    max-width: 900px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1000px) {
  .masthead-nav-logo {
    float: left;
    width: 100%;
    text-align: left;
    padding: .25em 0; }

  .masthead-nav-links {
    float: right;
    width: 100%; } }
@media screen and (max-width: 550px) {
  .top-masthead-holder .top-contact-side {
    float: left;
    width: calc(100% - 5em);
    margin-top: 0; }

  .top-masthead-holder ul.top-social-icons {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 0;
    visibility: collapse; } }
/*------------------------------MAIN MENU -----------------*/
@media screen and (max-width: 1100px) {
  .masthead-nav-links {
    float: left !important; }

  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 0; } }
@media screen and (max-width: 900px) {
  .main-navigation li, .main-navigation li:last-child {
    /*font-size:.9em;*/ } }
@media screen and (max-width: 799px) {
  /*--- unfixing the header ---*/
  #masthead {
    width: 100%;
    margin: 0 auto;
    top: 0;
    background: #ffffff;
    filter: none !important;
    border-bottom: 1px solid #007AC2;
    position: relative;
    z-index: 9999;
    top: 0; }

  #positioned-content, .standard-top {
    padding-top: 0 !important; }

  .standard-top {
    margin-top: 1em; }

  /*-------------- OVERKILL ENSURING LINK COLORS ----------*/
  .top-contact-side {
    padding-top: 0em; }

  .main-navigation li:hover > a, .main-navigation li.focus > a {
    color: #46494C; }

  .main-navigation ul ul:hover > a, .main-navigation ul ul .focus > a {
    color: #46494C; }

  .main-navigation ul ul a:hover, .main-navigation ul ul a.focus {
    color: #46494C; }

  .main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
    left: auto; }

  .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
    left: 100%;
    color: #46494C; }

  .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a, .main-navigation .current-menu-ancestor > a {
    color: #46494C; }

  /*------FIRST LEVEL NAV ------*/
  .site-branding, .top-contact-side {
    width: 100%; }

  .masthead-nav-links {
    float: left;
    width: 100%; }

  .main-navigation {
    /*border-bottom:none; background-color:transparent;*/
    background-color: #007AC2;
    height: 2em;
    border: none;
    margin-top: -1em; }

  .main-navigation ul li.current-menu-item a, .main-navigation ul li.current_page_item a, .main-navigation ul li.current-menu-item, .main-navigation ul li.current_page_item {
    background: transparent;
    color: #007AC2;
    text-decoration: none; }

  .main-navigation {
    clear: both;
    display: table;
    width: 100%;
    /*background-color: #ffffff; position:absolute;*/ }

  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-bottom: -.25em;
    text-align: left;
    background: #ffffff;
    text-align: left;
    border: solid 1px;
    width: 60%; }

  .main-navigation ul ul {
    width: 100%; }

  .main-navigation li {
    display: table;
    background: transparent;
    font-size: .85em; }

  .main-navigation li:last-child {
    font-size: .85em; }

  .main-navigation ul ul a {
    width: auto; }

  .main-navigation li a:hover {
    text-decoration: underline;
    color: #46494C; }

  .main-navigation ul ul li {
    display: table;
    background: #ffffff; }

  .main-navigation ul ul li a, .main-navigation ul ul li a:hover {
    color: #007AC2; }

  .main-navigation li:last-child, .home .main-navigation li:last-child {
    position: relative;
    margin-right: 0;
    margin-bottom: .25em;
    display: table;
    padding: 0.5em;
    width: 100%; }

  .main-navigation a {
    display: block;
    text-decoration: none;
    color: #007AC2; }

  /*------SECOND LEVEL NAV ------*/
  .main-navigation ul ul {
    background: #ffffff;
    display: block;
    float: left;
    left: 0;
    margin-left: 1em;
    opacity: 1;
    position: static;
    text-align: left;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    visibility: visible;
    z-index: 999999;
    border: none; }

  .main-navigation ul ul li.current-menu-item a, .main-navigation ul ul li.current_page_item a, .main-navigation ul ul li.current-menu-item, .main-navigation ul ul li.current_page_item {
    background: #ffffff none repeat scroll 0% 0%;
    color: #007AC2; }

  .main-navigation ul ul li a, .main-navigation ul ul li a, .main-navigation ul ul li, .main-navigation ul ul li {
    background: #ffffff none repeat scroll 0% 0%;
    color: #190a16; }

  .main-navigation ul ul li a {
    background: #ffffff none repeat scroll 0% 0%;
    color: #007AC2; }

  .main-navigation ul li:hover > ul a, .main-navigation ul li:hover > ul li, .home .main-navigation ul li:hover > ul a, .home .main-navigation ul li:hover > ul li {
    color: #007AC2;
    width: 100%;
    background: #ffffff; }

  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {
    display: block;
    opacity: 1;
    overflow: hidden;
    transition: none;
    visibility: visible;
    width: 100%; }

  .main-navigation ul ul li, .main-navigation ul ul li:hover, .home .main-navigation ul ul li, .home .main-navigation ul ul li:hover {
    background: #ffffff;
    color: #007AC2; }

  .main-navigation ul ul li a, .main-navigation ul ul li:hover, .main-navigation ul ul li a:hover {
    color: #007AC2 !important; }

  .main-navigation, .flexbox .main-navigation {
    clear: both;
    display: block;
    width: 100%; }

  /* Small menu. */
  .menu-toggle, .main-navigation.toggled ul {
    display: block;
    background: #ffffff;
    position: relative;
    z-index: 999; }

  button.menu-toggle, input.menu-toggle[type="button"] {
    border: none;
    border-radius: 0px;
    background: transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0), inset 0 15px 17px rgba(255, 255, 255, 0), inset 0 -5px 12px transparent;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0); }

  /*--- PUSHING THE MENU TO THE RIGHT AND MAKING SURE THE OPENED MENU IS BELOW THE ICON-----*/
  button.menu-toggle, input.menu-toggle[type="button"] {
    float: right;
    margin-top: 0;
    font-size: 1.5em;
    margin-right: 1.5em; }

  .togglemenutext {
    font-size: .5em;
    font-weight: normal;
    font-family: "Lato", Helvetica, Tahoma, Verdana, Arial; }

  /*--- CENTERS THE MENU ON ACTIVATION ----*/
  .main-navigation ul {
    margin: 1em 20% 0 20%; }

  #primary-menu {
    top: -.5em;
    left: 2em; } }
@media screen and (max-width: 700px) {
  .main-navigation ul {
    width: 75%;
    margin: 0 10%; } }
/*--- letting the activated menu go to full width at small sizes - LEFT JUSTIFIED ICON ---*/
@media screen and (max-width: 700px) {
  .main-navigation ul {
    width: 75%;
    margin-top: 1em !important; }

  .main-navigation ul li ul li, .main-navigation ul li ul li a, .main-navigation ul li ul:hover {
    background: transparent; }

  .main-navigation li:last-child {
    width: 300px; }

  .main-navigation ul li:last-child:hover > ul, .main-navigation ul li:hover > ul {
    text-align: left;
    display: block;
    left: 0;
    opacity: 1;
    overflow: hidden;
    transition: none;
    visibility: visible;
    width: 250px; }

  .main-navigation ul li ul {
    margin: 0 0 0 .5em; } }
@media screen and (max-width: 600px) {
  .top-logo-side, .top-contact-side {
    float: left;
    width: 100%; }

  .top-contact-side .social {
    float: left;
    text-align: left;
    width: 100%; }

  .top-phone {
    text-align: left; }

  .top-search {
    float: left; }

  ul.top-social-icons {
    float: left; }

  .headerlink {
    float: left;
    width: 100%; }

  .top-contact-side .social .headerlink h3 {
    display: block;
    padding: .5em 0;
    float: left;
    margin: 1em 0; } }
@media screen and (max-width: 500px) {
  ul#secondary-menu li {
    float: right;
    width: 50%; } }
@media screen and (max-width: 375px) {
  .main-navigation ul li ul a {
    width: 250px; } }
/*---------------SIDEBAR ---------------------------*/
@media screen and (max-width: 799px) {
  #secondary {
    margin: 0 1em; }

  #secondary li {
    text-align: left; }

  .widget_nav_menu h2.widget-title {
    text-align: left; } }
/*--------------CONTENT REGIONS ----------------*/
@media screen and (max-width: 1200px) {
  #content, .company-slogan {
    width: 100%;
    max-width: 1100px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1100px) {
  #content, .company-slogan {
    width: 100%;
    max-width: 1000px;
    margin: 0em auto;
    padding: 1em 0; }

  .full-site-main {
    margin: 0 auto;
    padding-top: 1.5em; } }
@media screen and (max-width: 1000px) {
  #content, .company-slogan {
    width: 95%;
    max-width: 900px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 900px) {
  .full-site-main {
    margin: 0 auto;
    padding-top: 0; } }
@media screen and (max-width: 799px) {
  .gallery-columns-4 .gallery-item {
    max-width: 32.33%;
    margin-right: 1%; }

  .front-project-array li {
    float: left;
    width: calc(33.33% - 1em);
    text-align: center;
    margin: 0 .5em; }

  #content {
    margin-top: 0;
    /*--- compensates for small menu icon ---*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: none; }

  .content-area, .site-content .widget-area {
    width: 100%; }

  .content-area {
    float: right;
    margin: 0;
    width: 100%;
    padding: 0 2em; }

  .site-main {
    margin: 0; }

  .site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden; }

  .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: left;
    width: 50%; }

  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%; } }
@media screen and (max-width: 600px) {
  .gallery-columns-4 .gallery-item {
    max-width: 49%;
    margin-right: 1%; }

  .front-project-array li {
    float: left;
    width: calc(50% - 1em);
    text-align: center;
    margin: 0 .5em; }

  body {
    overflow-x: hidden; } }
@media screen and (max-width: 450px) {
  .gallery-columns-4 .gallery-item {
    max-width: 98%;
    margin: 0 1%; }

  .front-project-array li {
    float: left;
    width: calc(100% - 1em);
    text-align: center;
    margin: 0 .5em; } }
@media screen and (max-width: 560px) {
  .archive-thumb {
    float: left;
    width: 100%;
    margin-top: .25em;
    text-align: center; }

  .archive-thumb img {
    width: 60%;
    height: auto; }

  .archive-excerpt {
    float: left;
    width: 100%;
    margin-top: .25em; }

  .archive-excerpt h1 {
    text-align: center; } }
/*-------------FOOTER REGIONS --------------*/
@media screen and (max-width: 1200px) {
  .site-info {
    width: 100%;
    max-width: 1100px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1100px) {
  .site-info .footer-copyright {
    float: left;
    width: 100%;
    text-align: center; }

  .site-info .footer-copyright img {
    width: 40%;
    height: auto;
    margin: 0 auto; }

  .site-info {
    width: 100%;
    max-width: 1000px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 1000px) {
  .site-info {
    width: 95%;
    max-width: 900px;
    margin: 0em auto;
    padding: 1em 0; } }
@media screen and (max-width: 799px) {
  .left-foot {
    float: left;
    width: 100%;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: .05em; }

  .right-foot {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .05em; }

  ul.foot-social-icons {
    padding: .5em 0 0 0;
    margin: 0;
    float: left;
    margin-top: 0;
    clear: both; } }
@media screen and (max-width: 550px) {
  .site-info .footer-copyright h1 {
    font-size: 1.5em; } }
@media screen and (max-width: 450px) {
  .site-info .footer-copyright h1 {
    font-size: 1.5em;
    display: block;
    margin: 0; }

  .site-branding {
    text-align: left; }

  .main-navigation ul {
    width: 95%;
    margin-top: 1em !important; } }

/*# sourceMappingURL=style.css.map */
